<!doctype html>

<link rel="stylesheet" type="text/css" href="static/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">

<script type="text/javascript" src="static/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="static/js/underscore.js"></script>

<body>
  <section class="section">
    <div class="container">
    <nav class="navbar">
      <div class="heading">
        <h1 class="title">Expenses</h1>
      </div>

        <div class="tabs is-centered">
          <ul>
            <li class="{{ 'is-active' if submit == 'false' }}">
              <a href="/">
                <span class="icon is-small"><i class="fa fa-bar-chart"></i></span>
                <span>Overview</span>
              </a>
            </li>
          {% if not read_only %}
            <li>
              <a href="/new">
                <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                <span>Create Expense</span>
              </a>
            </li>
            <li>
            <li class="shallow {{ 'is-active' if submit == 'submit' }}">
              <a href="/submit">
                <span class="icon is-small"><i class="fa fa-search"></i></span>
                <span>Review</span>
              </a>
            </li>
            <li class="{{ 'is-active' if submit == 'reimburse' }}">
              <a href="/reimburse">
                <span class="icon is-small"><i class="fa fa-money"></i></span>
                <span>Confirm</span>
              </a>
            </li>
            <li class="shallow {{ 'is-active' if submit == 'accounting' }}">
              <a href="/accounting">
                <span class="icon is-small"><i class="fa fa-check"></i></span>
                <span>Accounting</span>
              </a>
            </li>
          {% endif %}
          </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}
    </div>

  </section>

<script type="text/javascript" src="static/js/search.js"></script>
</body>
