{%extends "base.html" %}
{% from "expense.macro.html" import expense_table %}

{% block body %}

<script id="template" type="html/tpl">
<div>
  <div class="item notification">
    <button class="delete"></button>

    <div class="columns full-width">
      <div class="column">
        <label class="label">Type</label>
        <p class="control">
          <span class="select">
            <select class="type">
              <option>travel</option>
              <option>accom</option>
              <option>misc</option>
              <option>food</option>
              <option>equipment</option>
            </select>
          </span>
        </p>
      </div>
      <div class="column">
        <label class="label">Paid By</label>
        <p class="control">
          <span class="select">
            <select class="paidby">
              <option>other</option>
              <option>gpc</option>
              <option>ebarret</option>
              <option>ltratt</option>
              <option>ldiekmann</option>
              <option>nvasudevan</option>
              <option>gfrench</option>
              <option>snim2</option>
              <option>jschulz</option>
            </select>
          </span>
        </p>
      </div>
      <div class="column">
        <label class="label">Budget</label>
        <p class="control">
          <span class="select">
            <select class="budget">
              <option>general1</option>

              <option>editors1::travel</option>
              <option>editors1::equipment</option>
              <option>cooler::travel</option>
              <option>cooler::equipment</option>
              <option>cooler::summer</option>

              <option>editors2::travel</option>

              <option>lecture::travel</option>
              <option>lecture::equipment</option>
              <option>lecture::other</option>

              <option>editors4::misc</option>
            </select>
          </span>
        </p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <label class="label">Description</label>
        <input class="input description" required type="text" placeholder="What the money was spent on">
        <span class="help is-danger hidden">Required</span>

      </div>
      <div class="column is-half">
        <label class="label">For</label>
        <p class="control has-icon has-icon-right">
          <input class="input for" type="text" placeholder="Can be empty if paid by is not 'other'">
          <span class="help is-danger hidden">Required if paid by is other</span>
          <i class="fa fa-users"></i>
        </p>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <label class="label">Date</label>
        <input class="input date" required type="date" placeholder="Date">
        <span class="help is-danger hidden">Required</span>

      </div>
      <div class="column">
        <label class="label">Amount</label>
        <p class="control has-icon has-icon-right">
          <input class="amount input" type="number" required placeholder="GBP">
          <span class="help is-danger hidden">Invalid</span>
          <i class="fa fa-gbp"></i>
        </p>
      </div>
      <div class="column">
        <label class="label">Other Currency (optional)</label>
        <p class="control has-addons">
          <input class="input alt-amount" type="number" placeholder="Amount">
          <input class="input alt-currency" type="text" placeholder="Currency">
        </p>
      </div>
    </div>
  </div>
  <hr>
</div>
</script>

<div class="navbar-right">
  <p class="navbar-item"><a class="show-btn button is-primary">Show</a></p>
</div>

<div class="container">
<br>
<div class="box is-warning">

  <label class="label">Description</label>
  <p class="control">
    <input id="description" class="input" type="text" placeholder="Overall description of the expense" required>
    <span class="help is-danger hidden">Required</span>
  </p>

  <hr>

  <div id="entries">
  </div>


  <div class="columns">
    <div class="column is-center">
      <a id="btn-add" class="button">ADD ENTRY</a>
    </div>
  </div>

</div>
</div>

<br>
<div class="navbar-right">
  <p class="navbar-item"><a class="show-btn button is-primary">Show</a></p>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-container">
    <div class="modal-content">
    <div class="box">
      <pre id="modal-content" ></pre><br>
        <button class="button copy close is-dark">Copy and close</button>
        <div style="float:right">
          <button class="button save is-danger">Save to XML</button>
        </div>
    </div>
    </div>
  </div>
  <button class="modal-close close"></button>
</div>

<script type="text/javascript">
$(function(){
  var template = $("#template");
  var entries = $("#entries");

  var check_required = () => {
    var ok = true;
    $("input.is-danger").removeClass("is-danger");
    $(".help.is-danger").addClass("hidden");
    _.each($("input:required"), item => {
      if(!item.value) {
        $(item).addClass("is-danger");
        $(item).next().removeClass("hidden");
        ok = false;
      }
    });
    return ok;
  };

  var check_gbp = () => {
    var ok = true;
    var pattern = /^\d+(\.\d\d)?$/;

    _.each($("input.amount"), input => {
      console.debug(input)
      if(!pattern.test(input.value)){
        $(input).addClass("is-danger");
        $(input).next().removeClass("hidden");
        ok = false;
      }
    });
    return ok;
  };

  var check_for = () => {
    var ok = true;
    _.each($(".item"), item => {
      var for_ = $(".for", item);
      if(!for_.val() && $(".paidby", item).val() === "other") {
        for_.addClass("is-danger");
        for_.next().removeClass("hidden");
        ok = false;
      }
    });
    return ok;
  }

  var add_entry = () => $(template.html()).appendTo(entries);

  get_values = box => ({
    type: $(".type", box).val(),
    paidby: $(".paidby", box).val(),
    budget: $(".budget", box).val(),
    description: $(".description", box).val(),
    for: $(".for", box).val(),
    date: $(".date", box).val(),
    gbp: $(".amount", box).val(),
    alt: {
      amount: $(".alt-amount", box).val(),
      cur: $(".alt-currency", box).val()
    },
  });

  var new_item = e => {
      var last = get_values($(".item").last());
      var entry = add_entry();
      $(".type", entry).val(last.type);
      $(".paidby", entry).val(last.paidby);
      $(".budget", entry).val(last.budget);
      $(".date", entry).val(last.date);
      $(".alt-currency", entry).val(last.alt.cur);
    };

    $("#btn-add").click(new_item);

  $(document).on("click", "button.delete",
    e => e.target.parentElement.parentElement.remove()
  );

  function copyToClipboard(element) {
      var $temp = $("<textarea>")
      $("body").append($temp);
      $temp.val($(element).text()).select();
      document.execCommand("copy");
      $temp.remove();
  }

  var show = () => {
    if (!check_required() || !check_gbp() || !check_for()) {
      return;
    }

    var items = _.map($(".item"), b => {
      return get_values(b);
    });

    var data = {
      description: $("#description").val(),
      items: items
    };

    $.ajax({
        type: "POST",
        url: "/new",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
    }).done(function(data){
      $("#modal-content").text(data);
      $(".modal").addClass("is-active");
    });
  };

  $(".show-btn").click(show);
  $(".close, .modal-background").click(e => $(".modal").removeClass("is-active") )

  $(".copy").click(e => copyToClipboard($("#modal-content")));

  $('.save').click(e => {
    var data = { xml: $("#modal-content").text() };
    $.ajax({
        type: "POST",
        url: "/save",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
    }).done(function(data){
      $(".modal").removeClass("is-active");
    });
  })
  add_entry();

});
</script>
{% endblock %}